---
import '../base.css';
---

<html lang="en" class="w-full h-full">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Worship</title>
  </head>
	<body class="flex bg-neutral-950 items-center justify-center h-full w-full">
    <svg class="fill-white w-32 h-32" width="932" height="777" viewBox="0 0 932 777" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M481.917 97.017L480.58 229.334C480.946 229.366 481.311 229.415 481.675 229.463L493.472 152.811L528.269 127.6L512.301 237.198C513.634 237.716 514.956 238.266 516.267 238.833L532.562 185.838L572.278 165.481L542.667 254.254C567.391 273.008 585.027 300.63 590.832 332.378L622.232 300.97V0.606934L931.406 308.219V352.783L788.191 210.288V743.213L756.636 711.659V211.194L715.131 252.7V559.778L683.577 527.674V284.254L653.786 314.045V689.344L592.9 628.453V776.547L561.346 744.993V596.899L466.139 501.686L370.933 596.899V744.993L339.379 776.547V628.453L278.491 689.344V314.045L248.702 284.254V527.674L217.148 559.778V252.7L175.641 211.194V711.659L144.087 743.213V210.288L0.871582 352.783V308.219L310.045 0.606934V300.97L341.447 332.378C347.25 300.63 364.886 273.008 389.61 254.254L360 165.481L399.716 185.838L416.01 238.833C417.321 238.266 418.643 237.716 419.977 237.198L404.01 127.6L438.806 152.811L450.602 229.463C450.968 229.415 451.332 229.366 451.697 229.334L450.362 97.017L466.139 61.3365L481.917 97.017ZM339.379 374.936L310.045 345.599V613.161L339.379 583.824V374.936ZM592.9 374.936L622.232 345.599V613.161L592.9 583.824V374.936ZM370.933 406.49V552.27L443.827 479.372L370.933 406.49ZM561.346 406.49V552.27L488.451 479.372L561.346 406.49ZM465.523 260.079C413.261 260.403 370.933 302.944 370.933 355.275V361.861L466.139 457.058L561.346 361.861V355.275C561.346 302.734 518.684 260.079 466.139 260.079H465.523ZM248.702 106.257V239.625L278.491 269.416V76.6445L248.702 106.257ZM683.577 106.257V239.625L653.786 269.416V76.6445L683.577 106.257ZM181.832 172.763L217.148 208.071V137.649L181.832 172.763ZM750.445 172.763L715.131 208.071V137.649L750.445 172.763Z" />
    </svg>
  </body>
</html>
